[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
bs4 = "*"
pre-commit = "*"
sumitup = {editable = true, path = "."}
requests-html = "*"
notion = "*"
python-dotenv = "*"
pyttsx3 = "*"
gtts = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
